<!DOCTYPE HTML>
<!--use template engine which we call in
pom.xml <artifactId>spring-boot-starter-thymeleaf</artifactId> in dependencies-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="${title}"/>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">
  <h1>Edit currency</h1>
  <!--because of no action parameter we will work with data on the same page -->
  <form method="post">
    <div th:each="currencyToEdit : ${currency}">
      <input type="text" th:value="${currencyToEdit.currency}" name="currency" class="form-control">
      <input type="text" th:value="${currencyToEdit.country}" name="country" class="form-control">
      <button type="submit" class="btn btn-success">Edit</button>
    </div>
  </form>
</div>

<div th:insert="/blocks/footer :: footer"></div>

</body>
</html>